/*
 * fade in keframe animations
 */
.fadeleft {
  animation: var(--fade-duration, 2s) ease-out fade;
}
.faderight {
  animation: var(--fade-duration, 2s) ease-out fade;
}
/** a11y: don't define if the user prefers no motion */
@media (prefers-reduced-motion: no-preference) {
  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
