/* LICENSE: MIT-0 */

.logo {
  font-family: "IBM Plex Serif";
}

.story-title {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.story-subtitle {
  text-transform: uppercase;
  font-weight: lighter;
}